---
---

@import "devlopr";

.example-main {
  color: blue;
}

.profile-img {
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  margin-left: 0 !important;
}
