---
layout: default
---

# {{ site.title }}

{{ site.subtitle }}

{% if site.github_username %}
{%- include github_follow_button.html -%}
{% endif %}

{% if site.instagram_username %}
[Instagram](https://instagram.com/{{ site.instagram_username }})
{% endif %}

{% if site.github_username %}
[GitHub](https://github.com/{{ site.github_username }})
{% endif %}

{% if site.linkedin_username %}
[LinkedIn](https://linkedin.com/in/{{ site.linkedin_username }})
{% endif %}

{% if site.author_location %}
###### [{{ site.author_location }}](https://www.google.com/maps/place/{{ site.author_location }})
{% endif %}

{% if site.author_email %}
###### {{ site.author_email }}
{% endif %}

---

# About

{{ site.author_bio }}

---

# Technical Skills

{%- include author_skills.html -%}

---

# Education

**Suffolk County Community College**  
Associate Degree in Cybersecurity

Planned transfer to the University at Albany for continued study in cybersecurity.

---

# Certifications

**CompTIA Security+**  
Passed with hands-on coursework and lab experience in networking, security operations, system administration, and defensive security.

**Currently Studying:**  
CySA+ / cybersecurity operations, SOC analysis, vulnerability management, and incident response.
